@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body  {
    font-family: 'Prompt', sans-serif !important;

}

.link {
    color:#B045DF;
    font-weight: bold;
}

.mySwiper {
    width: 100%;
    height: 300px;
  }
  
  .mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .custom-container h2 {
    color: black;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  .custom-container p {
  padding-bottom: 16px;
  font-size: 17px;
  }

  .custom-container a {
    color: purple;
    font-size: 17px;
    font-weight: bold;
    }


    /* MOBILES */
    @media (max-width: 768px) {
      .custom-container p a{
        font-size: 14px; /* ปรับขนาดตัวอักษรตามที่ต้องการ */
      }
      .custom-container h2 {
        font-size: 22px;
      }
    }



    .dots {
      display: flex;
      justify-content: center;
    }
    
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
      cursor: pointer;
    }
    
    .dot:hover {
      background-color: #333;
    }
    
    /* เปลี่ยนสีของ dot ที่ active เป็นสีม่วง */
    .glide__bullet--active {
      background-color: purple !important;
    }
    